@mixin font($fontweight, $fontsize) {
    font-weight: $fontweight;
    font-size: $fontsize;
}

@mixin display($display: flex, $justify: center) {
    display: $display;
    justify-content: $justify;
}

@mixin button {
    background: linear-gradient(to top, $primary, $secondary);
    border-radius: 30px;
    color: white;
    padding: 15px 45px 15px 45px;
    border: none;
    font-family: $font-family;
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 55px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    @include font (500, 16px);

}
