.gradient__button {
        @include button;
    }

    .div__button {
        @include display;
    }

    .gradient__button:hover{
    filter: brightness(1.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    }

 .circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}