.firstsection__div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .firstsection_div_button {
        padding: 20px 0px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        font-family: $font-family;
        @include font (500, 16px);
        width: 80%;
        @include display;
        gap: 15px;
        cursor: pointer;
        background-color: #F6F6F6;
    }
}
