
.firstsection{
    padding-top: 20px;
    padding-bottom: 50px;
}

.firstsection__div {
    display: flex;
    flex-direction: column;
    align-items: center;}


    .firstsection_div_button {
        padding: 20px 0px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        font-family: $font-family;
        @include font (500, 16px);
        width: 80%;
        @include display;
        justify-content: start;
        gap: 15px;
        cursor: pointer;
        background-color: #F6F6F6;
        padding-left: 10%;
    }

    .circled-number {
    width: 23px; 
    height: 23px;
    border-radius: 50%;
    background-color: #9356DC; 
    color: white;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    font-size: 12px;
    @include display;
    align-items: center;
    position: absolute;
    left: 29px;
}


@media screen and (min-width: 1024px){

    .firstsection__div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 30px;
        
    }

    .firstsection_div_button{
        border-radius: 20px;
        border: none;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        font-family: $font-family;
        @include font (500,16px);
        display: flex;
        justify-content: start;
        cursor: pointer;
        background-color: #F6F6F6;
        width: 25%;
        padding-left: 40px;
        }

    .circled-number{
        position: RELATIVE;
        width: 23px; 
        height: 23px; 
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
        font-family: Arial, sans-serif;
        font-weight: bold; 
        font-size: 12px;
        @include display;
        align-items: center;
        left: -15%;
    }
}

.fa-store{
    color: #9356DC;
}

.firstsection__title{
      font-family: $font-family;
      @include font(700, 24px);
      padding-left:15px;
}


@media screen and (min-width: 1024px){
     .firstsection__title{
        font-family: $font-family;
        @include font (700,24px);
        padding-left: 80px;
        
    }
    }

    .fa-mobile-screen-button{
        color: #7E7E7E;
    }

    .fa-list-ul{
        color: #7E7E7E;
    }




