.firstsection__div {
    display: flex;
    flex-direction: column;
    align-items: center;


    .firstsection_div_button {
        padding: 20px 0px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        font-family: $font-family;
        @include font (500, 16px);
        width: 80%;
        @include display;
        gap: 15px;
        cursor: pointer;
        background-color: #F6F6F6;
    }
    .circled-number {
  /* 1. Dimensions du Cercle */
  width: 23px; /* Largeur du cercle */
  height: 23px; /* Hauteur du cercle (doit être la même que la largeur) */
  border-radius: 50%; /* Rend l'élément parfaitement rond */
  
  /* 2. Couleurs et Police */
  background-color: #9356DC; /* Couleur de fond violette */
  color: white; /* Couleur du chiffre "1" */
  font-family: Arial, sans-serif; /* Police de caractère */
  font-weight: bold; /* Gras pour que le chiffre soit bien visible */
  font-size: 12px; /* Taille du chiffre "1" */ 
  
  /* 3. Centrage Parfait (le plus important) */
  display: flex; /* Active le Flexbox */
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center; /* Centre verticalement le contenu */
  position: absolute;
  left: 29px;
}
}

.nouveau{
    position: absolute;
    right: 30px;
    background-color: #99E2D0;
    color: #008766;
    padding: 7px;
    border-radius: 5px;
    font-family: $font-family;
    @include font(500, 14px);
}
.fa-store{
    color: #9356DC;
}

.firstsection__title{
      font-family: $font-family;
      @include font(700, 24px);
      padding-left:15px;
    }

