.navbar {
    .navbar__location {
        background-color: #EAEAEA;
        height: 50px;
        @include display;
        align-items: center;
        color: #353535;
        font-family: $font-family;
        @include font (500, 16px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        gap: 10px;
    }

    &__section {
        background-color: #F6F6F6;
    }

    &__h1 {
        color: black;
        font-family: $font-family;
        @include display;
        margin: 50px 30px 0px 30px;
        text-align: center;
        @include font(700, 24px);
    }

    &__logo {
        font-family: $logofont;
        @include font (400, 30px);
        @include display;
        margin-top: 18px;
        margin-bottom: -6px;
    }

    &__soustitre {
        font-family: $font-family;
        text-align: center;
        @include font (300, 18px);
        margin: 15px 15px 0px 15px;
    }

}
@media screen and (min-width: 1024px){
    .menu__navbar{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .navbar__logo{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 20px;
    }

    .menu__navbar__logo{
        margin-left: 15%;
    }
    }


.fa-arrow-left{
    color:black;
}

