
.secondsection {
    padding: 30px 15px 70px 15px;
    background-color: #F6F6F6;

    .secondsection__title{
      font-family: $font-family;
      @include font(700, 24px);
    }

    .secondsection__display {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .secondsection__display2{
         display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .secondsection__bloc{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
    }

    .secondsection__img {
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: block;
        width: 100%;
    }

    .secondsection__card {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .secondsection__bloc--h2 {
        display: flex;
        justify-content: space-between;
        font-family: $font-family;
        @include font(700, 18px);
        margin-top: 20px;
        margin-bottom: 0;
    }
   

    .nouveau{
    position: absolute;
    right: 30px;
    background-color: #99E2D0;
    color: #008766;
    padding: 7px;
    border-radius: 5px;
    font-family: $font-family;
    @include font(500, 14px);
}
@media screen and (min-width: 1024px){
    .nouveau{
    position: absolute;
    right: 100;
    background-color: #99E2D0;
    color: #008766;
    padding: 7px;
    border-radius: 5px;
    font-family: $font-family;
    @include font(500, 14px);
}
}

    @media screen and (min-width: 1024px){

    .secondsection__bloc{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20%;
        width: 40%;

    }
    .secondsection__display{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 40px;
    }
    .secondsection__display2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .secondsection__bloc {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
    }

    .secondsection__img {
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: block;
        width: 100%;
    }

    .secondsection__card {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .secondsection__bloc--h2 {
        display: flex;
        justify-content: space-between;
        font-family: $font-family;
        @include font(700, 18px);
        margin-top: 20px;
        margin-bottom: 0;
    }
    .secondsection__title{
      font-family: $font-family;
      @include font(700, 24px);
      padding-left: 65px;
      
    }
}

.heart-checkbox {
    display: none;
}

.heart-container {
    display: inline-block;
    cursor: pointer;
    position: relative;
}


.heart-base {
    
    stroke: black; 
    stroke-width: 1.5;
    fill: transparent; 
    
    transition: stroke 0.3s ease-in-out; 
}

.heart-overlay {
    transition: clip-path 1s cubic-bezier(0.4, 0, 0.2, 1); 
    clip-path: inset(100% 0 0 0);
}


.heart-checkbox:checked ~ .heart .heart-overlay {
    clip-path: inset(0% 0 0 0); 
}


.heart-checkbox:checked ~ .heart .heart-base {
    stroke: transparent; 
}


.heart-checkbox:checked ~ .heart {
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}

    h3 {
        margin-top: -2px;
        font-family: $font-family;
        @include font(300, 17px);
    }
}