footer {
    background-color: #353535;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    .footer__logo {
        font-family: $logofont;
        color: white;
        @include font(400, 18px);
        margin-top: 0;
        margin-bottom: 20px;
    }

    .footer__listing {
        font-family: $font-family;
        @include font(500, 16px);
        color: white;
        cursor: pointer;
    }

    p {
        font-family: $font-family;
        color: white;
        @include font(400, 16px);
        margin-bottom: 5px;
        margin-top: 7px;
        
    }
}

.lien-contact{
    text-decoration: none;
    color: white;
    font-family: $font-family;
    @include font(400, 17px);
    
}
