footer {
    background-color: #353535;
    padding-left: 20px;

    .footer__logo {
        font-family: $logofont;
        color: white;
        @include font(400, 18px);
        margin-top: 0;
    }

    .footer__listing {
        font-family: $font-family;
        @include font(500, 16px);
        color: white;
        cursor: pointer;
    }

    p {
        font-family: $font-family;
        color: white;
        @include font(400, 16px);
        margin-bottom: 0;
        cursor: pointer;
    }
}
